<body class = "aboutme">
	<h4 id="name"> Fatima Ibrahim-Biangoro </h4>
	<%= image_tag "me.jpg" %>
	<h3>
	<span class="from"> I am a senior and Bay Area native. One thing I'm excited for this class isto create a fun dynamic website where I can display things I love. </span>
	</h3>
</body>